body {
    margin: 0px;
    padding: 20px 60px;
    background-color: #f3f3f3;
    height: fit-content;
    font-family: Trebuchet MS;
}

.sidebar {
    margin: 0px;
    padding: 0px;
    background-color: rgb(219 213 213 / 32%);
    float: left;
    width: 20%;
    height: fit-content;
}

.name h2 {
    font-weight: 700;
    font-size: 24px;
    color: #2d62d1;
}

.info h2 {
    font-weight: 100;
    font-size: 15px;

}

.name {
    color: black;
    font-size: 12px;
    /* float: left; */
    /* width: 40%; */
    text-align: center;
}

.desig {
    color: black;
    font-size: 9px;
    text-align: center;
    background-color: white;
    padding: 1px 0px 1px 0px;
    margin: 0px 55px;
    -webkit-border-radius: 15px / 15px;
}

.header {
    float: left;
    width: 80%;
}


.media ul {
    list-style: none;
}

.media ul li {
    float: left;
    width: 20%;
    margin-bottom: 25px;
}

.info {
    text-align: center;
    font-size: 11px;
    padding-top: 15px;
}

.info h1 {
    color: #2d62d1;
}

.interests {
    margin: 40px 40px 18px 40px;
    padding: 10px 0px 0px 0px;
    height: 3.6cm;
    background-color: white;
    text-align: center;
    -webkit-border-radius: 15px/15px;
}

.languages {
    margin: 40px 40px 40px 40px;
    padding: 10px 0px 0px 0px;
    height: 4cm;
    background-color: white;
    text-align: center;
    -webkit-border-radius: 15px/15px;
}

.languages ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.interests ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.sidebar h1 {
    font-weight: 400;
    font-size: 18px;
}

.languages ul li {
    font-size: 15px;
    padding-bottom: 4px;
}


.interests ul li {
    font-size: 15px;
    padding-bottom: 3px;
}

.languages h1 {
    color: #2d62d1;
}

.interests h1 {
    color: #2d62d1;
}

.header {
    padding: 20px 40px 20px 40px;
    float: left;
    width: 74%;
    height: auto;
    background-color: white;
    border-radius: 15px;
}

.sum p {
    font-size: 14px;
}

.education {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 50%;
}

.education span {
    color: white;
    background-color: #2d62d1;
    padding: 5px 10px;
    -webkit-border-radius: 5px/5px;
    font-size: 11px;
}

.education h6 {
    width: 400px;
    padding: 0px;
    margin: 15px 0px 10px 0px;
}

.education p {}

.Projects {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 50%;
}

.Projects span {
    color: white;
    background-color: #2d62d1;
    padding: 5px 10px;
    -webkit-border-radius: 5px/5px;
    font-size: 11px;
}


.Projects h6 {
    width: 400px;
    padding: 0px;
    margin: 15px 0px 10px 0px;
}

.languages_known {
    margin-top: 400px;
}

.languages_known ul {
    float: left;
    list-style: none;
    width: 1000px;
}

.languages_known ul li {
    display: inline;
    padding: 20px 100px 10px 0px;
}

.languages_known img {
    height: 2cm;
    width: 2cm;
}