* {
    margin: 0;
    padding: 0;
    background-color: #5cdb95;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    color: #05386B;
}

li.nav-item {
    padding: 0px 30px 0px 30px;
    color: #05386B;
}

#nav {
    position: sticky;
    top: 0;
    z-index: 10;

}

.adj-height {
    height: 75px !important;
    width: 75px !important;
}

#move:hover {
    transition: 0.3s;
    transform: translateY(-10px) !important;
}

#movedown:hover {

    transition: 0.3s;
    transform: translateY(10px) !important;
}

a {
    color: #05386B;
}

.form-inline.my-sm-2 {
    float: left;
}

p {
    text-align: center;
}


.white {
    color: white;
    font-weight: 500;
}

.width100 {
    width: 125px !important;
}

.red {
    color: red;
    font-weight: 500;
}

.row {
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

.mono {

    color: #05386B;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.monog {

    color: #5cdb95;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.icon-bar {
    background-color: #05386B;
}

li.nav-item:hover {
    background-color: #379683;
    transition: 0.4s;
}

a.nav-item:hover {
    font-weight: 700;
    color: white;
    transition-delay: 4s;
    text-decoration: none;

}

h1 {

    color: white !important;
}

.borders {
    border-right: 2.5px solid #05386B;
    text-align: left;
}

p-0 {
    padding: 0;
}
